<!DOCTYPE html>
<html lang="en">

<head>
    <title>MotemaWRLD Extension</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<style type="text/css">
    body {
        width: 180px;
    }
</style>
<div class="text-center">
    <div><b>Welcome to MotemaWRLD Dear Donor!</b></div>
    <div class="mt-10 p-1">
        <div class="mt-10 p-1"><a href="https://near.org/embed/armsveshack.near/widget/MotemaWRLD?productName=iPhone%2014" style="text-decoration: none;" class="btn" target="_blank">Donate with Eth</a></div>
        <div class="mt-10 p-1"><a href="http://localhost:3000/" style="text-decoration: none;" class="btn"  target="_blank">Donate with Celo</a></div>
        <div class="mt-10 p-1"><a href="https://near.org/embed/armsveshack.near/widget/MotemaWRLDNear?productName=iPhone%2014" style="text-decoration: none;" class="btn" target="_blank">Donate with Near</a></div>
    </div>
</div>
</body>
</html>
